.main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.input-group>.input-group-prepend.todoModalPrepand {
    flex: 0 0 15%;
}

.todoModalText {
    width: 100%;
    text-align: center;
}

.react-datepicker-wrapper
{
    flex: 1 1;
}

.hideBack
{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

.hideBack.active
{
    display: block;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}

.homeComponent
{
    position: relative;
}

.spinnerContainer
{
    height: 100%;
    transform: translate(50%,50%);
}