.todoInput.form-control[readonly]
{
    background-color: #ffffff;
}

.todoInput.form-control[readonly].delayed
{
    background-color: #ffeaea;
}



.completedTodo
{
    text-decoration: line-through;
}